@using BlazorServerSignalRApp.Data

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorServerSignalRApp</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            @foreach (var channel in ChannelStorage.Channels)
            {
                <NavLink class="nav-link" href="@($"/channel/{channel.Name}")">
                    <div style="display: flex; flex-direction: column;">
                        <div style="display: flex; align-items: center; padding-bottom: 10px;">
                            <span class="oi oi-home" aria-hidden="true"></span>
                            <span>@channel.Name</span>
                        </div>
                        <div>@channel.ConnectionIds.Count users active</div>
                    </div>
                </NavLink>
            }
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    [Inject] private ChannelStorage ChannelStorage { get; set; } = default!;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
