@page "/"
@using BlazorServerSignalRApp.Data
@implements IDisposable

<h1>Redirecting to Default Channel</h1>

@code {
    [Inject] private NavigationManager Navigation { get; set; } = default!;
    [Inject] private ChannelStorage ChannelStorage { get; set; } = default!;

    protected override void OnInitialized()
    {
        Navigation.NavigateTo($"/channel/{ChannelStorage.DefaultChannelName}");
    }

    public void Dispose()
    {
    }
}